ul,li {
    list-style: none;
}
ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
}
h1,h2 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}
h4 {
    -webkit-margin-before: 0;
}
.resume{
    width: 64%;
    height: 650px;
    margin: 0 auto;
    border-right: 2px solid #eeeeee;
}
.msg-group {
    margin-right: 20px;
}
h4 {
    -webkit-margin-after: 0rem;
}
p {
    margin-top: 0;
}
.resume-title {
    width: calc(100% - 40px);
    height: 40px;
    padding: 10px 20px;
    background-color: #888888;
}
.resume-title h1 {
    line-height: 38px;
    color: #ffffff;
}
.resume-content {
    float: left;
    width: 100%;
}
.resume-content li {
    height: 116px;
    border-bottom: 2px solid #eeeeee;
}
.resume-content .content-title {
    width: 96px;
    height: 100%;
    display: inline-block;
    background-color: #dcdcdc;
}
.resume-content .content-msg {
    width: calc(100% - 116px);
    display: inline-block;
    vertical-align: top;
}
.content-title h2 {
    font-size: 16px;
    text-align: center;
    line-height: 116px;
}
.content-msg h4 {
    float: left;
}